

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - P2I</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/P2I.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">



                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   <ul class="nav justify-content-center">
                        @if (Accessor.HttpContext!.Session.GetString("Pseudo") != null)
                        {
                                                        <li class="nav-item mx-3">
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="Journal"
                                asp-action="Index"><h3><strong>La gazette du Cogniticien</strong></h3></a>
                                                        </li>
                                                        <li class="nav-item mt-2">
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="Journal"
                                asp-action="Index">Categorie0</a>
                                                        </li>
                                                        <li class="nav-item mx-3 mt-2">
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="Journal" asp-action="Index">Categorie1</a>
                                                        </li>
                                                        <li class="nav-item mt-2">
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="Journal"
                                asp-action="Logout">Gestion des articles</a>
                                                        </li>
                        }
                        else
                        {
                                                        <li class="nav-item mx-3">
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="Journal" asp-action="Index">
                                                                <h3><strong>La gazette du cogniticien</strong></h3>
                                                            </a>
                                                        </li>
                                                             <li class="nav-item mt-2">
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="Journal"
                                asp-action="Index">Categorie0</a>
                                                        </li>
                                                        <li class="nav-item mx-3 mt-2">
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="Journal" asp-action="Index">Categorie1</a>
                                                        </li>

                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<div class="footer">

<div class="titref">

    Le site officiel de la Gazette de l'ENSC
</div>
        @if (Accessor.HttpContext!.Session.GetString("Pseudo") != null)
        {
        <div>
            <button type="button" class="btn btn-secondary btn-sm">
    <a class="nav-link text-dark"  asp-area="" asp-controller="Journal" asp-action="Logout">Se déconnecter</a>
  </button>


    </div>
        }
        else
        {
         <div>
                  <button type="button" class="btn btn-secondary btn-sm">
    <a class="nav-link text-dark"  asp-area="" asp-controller="Journal" asp-action="SeConnecter">Se connecter</a>
    </button>


    </div>

        }
</div>

</body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</html>

<style>
.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(132, 158, 244, 0.896);
   color: black;
   text-align: center;


}
.titref{
    font-size: 20px;
}
.btn.btn-secondary.btn-sm{
 margin: 2px;
      
}
.btn.btn-secondary.btn-sm:hover{
    background-color: green;
}

</style>