<html>

@model Journal

@{
    ViewData["Title"] = "Journal";
    Layout="~/Views/Shared/_LayoutPdf.cshtml";
    

}




  <head>
    <title>Titre du document</title>
  </head>
  <body>

    <h1>Vous lisez le numéro @{@Model.Numero} de la Gazette</h1>

    <embed src="~/PDF/@{@Model.Numero}.pdf" width="100%" height="100%" type="application/pdf" title="PDF NO FOUND" />



    <style>
      .container {
        margin: 0px;
        width: 100%;
        height: 100vh;
      }

      main {
        width: 100%;
        height : 100%;
      }
    </style>
  </body>
</html>